# General Settings

ADMIN_SECRET=11bdfs455-b2bf-40c1-a7d4-4068b461d6d5
BASE_URL=http://localhost:3000

# DATABASES

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=1234
DB_NAME=exetatest

# Frontend URL
FRONTEND_URL=http://localhost:4200

# Email Configuration - Choose one provider: smtp or gmail
EMAIL_PROVIDER=smtp

# SMTP Configuration (Gmail with SSL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=user@gmail.com
SMTP_PASS=faoo hpkg lkow grnk

# Email From Address
EMAIL_FROM=noreply@user.com
SMTP_FROM=noreply@user.com

# SCRIPT COMMAND


# deployment

```bash
ADMIN_SECRET="your-admin-secret" BASE_URL="https://your-app.example.com" ./make-admin.sh user@example.com
```

# link to generate app password

https://myaccount.google.com/apppasswords
